name: CI Tests

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:

  ############################
  # Linux x86_64 + aarch64
  ############################
  linux:
    name: Linux (${{ matrix.system }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        system:
          - x86_64-linux
          - aarch64-linux

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Configure Nix
        run: |
          mkdir -p ~/.config/nix
          echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf

      - name: Setup QEMU
        if: matrix.system == 'aarch64-linux'
        uses: docker/setup-qemu-action@v3

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: nix-community
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Run flake checks
        run: |
          nix flake check --system ${{ matrix.system }}


  ############################
  # macOS arm64
  ############################
  macos:
    name: macOS (latest, aarch64-darwin)
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Configure Nix
        run: |
          mkdir -p ~/.config/nix
          echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf

      - name: Run flake checks
        run: |
          MACOSX_DEPLOYMENT_TARGET=11.3 nix flake check --system ${{ matrix.system }}

